.vscode
zad1/files/1giga_file.txt
zad1/files/100mega_file.txt
zad1/files/10mega_file.txt
zad1/files/out_1giga_file_sys.txt
zad1/files/out_1giga_file_lib.txt
zad1/files/out_100mega_file_sys.txt
zad1/files/out_100mega_file_lib.txt
zad1/files/out_10mega_file_sys.txt
zad1/files/out_10mega_file_lib.txt